/* Style général */
body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(180deg, #285d46, #4a3b2e);
    color: #fff;
}

/* HEADER */
header {
    background-image: url("file:///C:/Users/User/Downloads/mountain-9024209_1920.jpg");
    background-size: cover;
    background-position: center;
    text-align: left;
    padding: 100px 50px;
}

.header-content {
    max-width: 500px;
}

header h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0.3em;
}

header p {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    color: #e0e0e0;
    margin-bottom: 1.5em;
}

/* SECTION SERVICES */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 50px;
    border-radius: 20px;
    margin: 40px;
}

.service {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.service:hover {
    background-color: rgba(255, 255, 255, 0.12);
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

/* SECTION CARTES */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 40px;
    margin: 0 40px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    text-align: center;
    padding: 40px 20px;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: translateY(-5px);
    transition: 0.3s;
}

/* Bouton principal */
.btn {
    background-color: #f3c86a;
    color: #2b2b2b;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    border: solid 2px #cf9c55;
}

.btn:hover {
    background-color: #ffe37d;
    box-shadow: 0 4px 15px rgba(255, 227, 125, 0.6);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    font-size: 0.9em;
    color: #dcdcdc;
}
