.toto1 {
    background-color: red;
}
.toto2 {
    background-color: lightblue;
}
.toto3 {
    background-color: green;
}
.toto4 {
    background-color: yellow;
}

section {
    display: flex;
    margin-top: 100px;
}

section article {
    padding : 45px;
    flex: 1;
}

nav a {
    background-color: green;
    color:white;
    font-weight: bold;
    padding: 15px 30px;
}

nav {
    display: flex;
    justify-content: center;
}

h1 {
    background-color: plum;
}

#titi {
    display : flex;
    flex-wrap : wrap;
}
#titi > * {
    flex: 1;
}
h1 {
    flex-basis: 100%;
}

#toto{
    background-image: url("file:///C:/Users/User/home/HTML/img/main.jpg.jpg");
    padding : 200px 0;
    color :white;
    font-weight: bold;
    font-size: 2em;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width : 80%;
    margin : 0 auto;
}
