body {
    background-color: white;
}
img {
    width: 150px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}

.toto {
    color: orange;
    font-size: 20px;
}

#tata {
    color: blue;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    border: 3px dashed blue;
    background-color: lightcyan;
    margin: 0.5rem;
}

.nav-link {
    color: blue;
    text-decoration: underline;
    padding: 14px 20px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    border: 3px dashed blue;
    font-family: sans-serif;
    margin: 0.5rem;
    border-radius: 10px;
}

#name {
    font-family: 'Arial Black', sans-serif;
    color: darkgreen;
}

.toto1{
    background-color: pink;
    padding: 3em;
    border: 3px solid black;
    /*width: 400px;*/
}

.toto2{
    background-color: orange;
    padding: 3em;
    border: 3px solid black;
    width: 400px;
}
.toto1:hover{
    position :absolute;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

.toto2{
    /*position:sticky;*/
    top: 100px;
}

.toto3{
    background-color: yellow;
    padding: 3em;
    border: 3px solid black;
    width: 400px;
}

.toto3{
    /*position: fixed;*/
    left: 0;
    bottom: 0;
}

.toto4{
    background-color: green;
    padding: 3em;
    width: 500px;
    height: 800px;
    position : relative;
}

.toto5{
    background-color: red;
    padding: 3em;
    width: 400px;
    color : white;
    position : absolute;
    top : 0;
}

.toto6 img{
    width: 30%;
    float : left;
}

.clear{
    clear : both;
}  