
div {
    width: 300px;
    border: 5px solid black;
    margin: 10px;
    padding : 20px;
    box-sizing: border-box;
    font-family: "Momo Signature", cursive;
    font-style : normal;
    font-weight: 400;
}
h1{
    font-family: "Oswald", sans-serif;
    font-style : normal;
    font-weight: 400;
    color: darkred;
}

h2{
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: blueviolet;
}
p{
    line-height: 2;
}

a{
    color: darkred;
    text-decoration: none;
    letter-spacing: 10px;
}