h2,
h3 {
    margin: 0;
}

section header,
section footer{
    padding : 1em;
}

.grid {
    display : grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    gap : 1rem;
}

.bloc-header{
    grid-row-start: 1;
    grid-row-end :2;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    background-color: #ddd;
}

.bloc-article-1{
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    background: #fff;
}

.bloc-article-2{
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    background: #8877cf;
}

.bloc-article-3{
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    background: #d48484;
}

.bloc-article-4{
    grid-row: 3 / 4;
    grid-column: 4 / 6;
    background: #aebd7a;
}
.bloc-footer{
    grid-row: 4 / 5;
    grid-column: 1 / 6;
    background-color: #ddd;
}
