/* PERSONALIZED RESET */
body, p, blockquote, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}
blockquote {
  quotes: none;
}
blockquote::before, blockquote::after {
  content: '';
  content: none;
}
ul, ol {
    list-style:  none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body * {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #eee;
  font-family: arial, sans-serif;
}
p {
  margin-bottom: 2.5rem;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* *****************************************************************
STYLES DEMO
***************************************************************** */

h1 {
  font-size: 4rem;
  color: #DD5735;
  margin: 1rem 0;
}

h2 {
  margin:  2rem 0 1rem;
}

h3 {
    margin-bottom: 1rem;
}

section {
  padding: 1em;
  background-color: #fff;
  margin-bottom: 2rem;
}

article {
  padding: 1em;
}

.header {
  padding: 1em;
  text-align: center;
  background-color: #444;
  border: 1px solid #DD5735;
  margin-bottom: 2rem;
}

.parent {
    border: 2px dashed #DD5735;
    padding: 1em;
}

.card {
    border: 1px solid #444;
    padding: 2em;
}

.header p {
  margin: 1rem 0;
  color: #ddd;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 1em;
}

.footer {
  padding: 1em;
  text-align: center;
  background-color: #444;
  color: #ddd;
  border: 1px solid #555;
}

.footer a {
  color: white;
}

.footer img {
  width: 60px;
}

/* *****************************************************************
DEMO
***************************************************************** */

:root{
  --projet-size: 285px;
  --logo-size: 60%; /* change this to resize logo without affecting the red ring */
  --rond-border: 10px;
}

.projet {
  width: var(--projet-size);
  height: var(--projet-size);
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.projet img {
  width: var(--logo-size);
  height: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.rond {
  position: relative;
  inset: 0;
  width : 315px;
  height : 315px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  border: var(--rond-border) solid red;
}


.texte-projet {
    position: absolute;
    top : 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
    color: red;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.rond:hover .texte-projet {
    opacity: 1;
}

.rond:hover .projet {
    transform: scale(0.7);
    transition: transform 0.3s;
}

.visually-hidden {
    opacity : 0;
}