/* PERSONALIZED RESET */
body, p, blockquote, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}
blockquote {
  quotes: none;
}
blockquote::before, blockquote::after {
  content: '';
  content: none;
}
ul, ol {
    list-style:  none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body * {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #eee;
  font-family: arial, sans-serif;
}
p {
  margin-bottom: 2.5rem;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* *****************************************************************
STYLES DEMO
***************************************************************** */

h1 {
  font-size: 4rem;
  color: #DD5735;
  margin: 1rem 0;
}

h2 {
  margin:  2rem 0 1rem;
}

h3 {
    margin-bottom: 1rem;
}

section {
  padding: 1em;
  background-color: #fff;
  margin-bottom: 2rem;
}

article {
  padding: 1em;
}

.header {
  padding: 1em;
  text-align: center;
  background-color: #444;
  border: 1px solid #DD5735;
  margin-bottom: 2rem;
}

.parent {
    border: 2px dashed #DD5735;
    padding: 1em;
}

.card {
    border: 1px solid #444;
    padding: 2em;
}

.header p {
  margin: 1rem 0;
  color: #ddd;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 1em;
}

.footer {
  padding: 1em;
  text-align: center;
  background-color: #444;
  color: #ddd;
  border: 1px solid #555;
}

.footer a {
  color: white;
}

.footer img {
  width: 60px;
}

/* *****************************************************************
DEMO
***************************************************************** */

.fleche {
  width: 500px;
  transition: transform 1s;
  position: relative;
  transform: rotate(90deg);
  display: block;
  margin: 0 auto;
  transform-origin: center;
}

.fleche:hover {
    transform: rotate(0deg);
}

.visually-hidden {
    opacity : 0;
}